# How to get finer-grained Google search volume data

Google search volumes can be a pretty good market research signal. Their usefulness goes way beyond simple SEO. Search volumes can provide insights into market demand, emerging trends, and much more. 

Google Trends is a gold mine for analysts and researchers, but it has a major drawback: indexed data. It can tell you that search volumes have doubled but it won't tell you if they went from 10k to 20k or from 10m to 20m. Luckily, there are some workarounds.

## Getting some data

Let's get some data from Google Trends.
Go to [https://trends.google.com/trends/explore?date=today%203-m&geo=US&q=nike&hl=en](https://trends.google.com/trends/explore?date=today%203-m&geo=US&q=nike&hl=en) and download the csv file.
> **_NOTE:_**  The time range filter should be set to at least 3 months as we need month-level frequency for our data points

As mentioned, this is only one half of the equation. We now have a dataset that tells us how searches have been moving for the keyword *nike*, but not much else.

We now need a precise number to anchor things on. One way to get this is [Google Keyword Planner](https://ads.google.com/home/tools/keyword-planner/). There are also some [3rd party vendors](https://dataforseo.com/). 

> **_NOTE:_**  Google Keyword Planner might show ranges if your ad spent is below a certain threshold (which doesn't seem to be public knowledge)

In [3]:
import pandas as pd

In [4]:
pd.set_option('display.float_format', '{:,.0f}'.format)

In [9]:
data = pd.read_csv("multiTimeline.csv",  header=None, names=['Date', 'Value'])
data = data.iloc[2:]
data.Date = pd.to_datetime(data.Date)
data.Value = pd.to_numeric(data.Value)
data = data.set_index("Date", drop=True)

We'll only need the June subset:

In [10]:
june = data["2024-06-01":"2024-06-30"]
june

            Value
Date
2024-06-01     77
2024-06-02     82
2024-06-03     72
2024-06-04     72
2024-06-05     72
2024-06-06     70
2024-06-07     69
2024-06-08     83
2024-06-09     84
2024-06-10     74
2024-06-11     72
2024-06-12     74
2024-06-13     69
2024-06-14     74
2024-06-15     78
2024-06-16     85
2024-06-17     71
2024-06-18     66
2024-06-19     69
2024-06-20     70
2024-06-21     71
2024-06-22     79
2024-06-23     77
2024-06-24     70
2024-06-25     68
2024-06-26     68
2024-06-27     69
2024-06-28     75
2024-06-29     75
2024-06-30     80

I went ahead and looked up the search volumes in Google Keyword Planner -> **5m** average searches in June 2024.
What's left to do is to convert index values in absolute values.

In [11]:
june_avg_idx = june.mean()
june_abs_value = 5_000_000

One final step: we need to convert the index values to absolute ones:

In [12]:
final_data = data["Value"].apply(lambda x: (x * june_abs_value)/june_avg_idx)
final_data

               Value
Date
2024-04-28 5,823,928
2024-04-29 5,011,287
2024-04-30 4,875,847
2024-05-01 4,943,567
2024-05-02 4,943,567
...              ...
2024-07-24 5,553,047
2024-07-25 5,959,368
2024-07-26 6,027,088
2024-07-27 6,772,009
2024-07-28 6,433,409

[92 rows x 1 columns]